SERVER_PORT=8080

FRONTEND_URL=http://localhost:5173
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mydb

NODE_ENV=development

VERCEL=false

JWT_ACCESS_TOKEN_EXPIRY=1D
JWT_REFRESH_TOKEN_EXPIRY=3D
JWT_ACCESS_TOKEN_SECRET=HELLO
JWT_REFRESH_TOKEN_SECRET=LoKi