NODE_ENV=development
SERVER_PORT=4000

FRONTEND_URL=http://localhost:3000
DATABASE_URL=
REDIS_URL=

ADMIN_JWT_ACCESS_TOKEN_SECRET=
ADMIN_JWT_REFRESH_TOKEN_SECRET=
ADMIN_JWT_ACCESS_TOKEN_EXPIRY=
ADMIN_JWT_REFRESH_TOKEN_EXPIRY=

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

VERCEL=true